<ion-header>
  <ion-toolbar>
    
      <ion-title id="titulo">Registrar Asistencia</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="carta">
    <h1>
      Estamos trabajando para usted, esta opcion aún no está programada
    </h1>
  </ion-card>




  <ion-footer class="patas" collapse="fade">
    <ion-toolbar>
      <ion-title id="titulofooter">DuocUC 2022 ©</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
